.MuiDataGrid-colCellTitle {
    display: block;
    text-align:center;
    width: 100%;
  }

.MuiDataGrid-cell {
    display: block;
    position: relative;
    text-align: center;
}

.borderTopRadius {
  border-top-left-radius: 20;
  border-top-right-radius: 20;
}